<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caqoo - player</title>
    <style>
        body {
            background-image: url("/static/background01.svg");
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "微軟正黑體";
        }
        button, input {
            margin: 1rem 0;
            width: 100%;
            display: block;
            font-size: 3rem;
        }

        #root {
            padding: 1rem
        }
    </style>
</head>
<body>
    <div id="root">
        <h1>player</h1>
        <div id="signupBlock">
            <input id="userNameInput">
            <button id="signupBtn">註冊</button>
        </div>
        <div id="answerOptionBlock">
            <button id="ans0Btn">選項1</button>
            <button id="ans1Btn">選項2</button>
            <button id="ans2Btn">選項3</button>
            <button id="ans3Btn">選項4</button>
        </div>
    </div>
</body>
</html>