<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caqoo - player</title>
    <style>
        body {
            background-image: url("/static/background01.svg");
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "微軟正黑體";
        }
        button, input {
            margin: 1rem 0;
            width: 100%;
            display: block;
            font-size: 3rem;
        }

        #signupBlock {
            display: none;
        }

        #root {
            padding: 1rem
        }
    </style>
</head>
<body>
    <div id="root">
        <h1>player</h1>
        <div id="signupBlock">
            <input id="userNameInput">
            <button id="signupBtn">註冊</button>
        </div>
        <div id="answerOptionBlock">
            <button id="ans0Btn">選項1</button>
            <button id="ans1Btn">選項2</button>
            <button id="ans2Btn">選項3</button>
            <button id="ans3Btn">選項4</button>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let signupBlock = document.querySelector("#signupBlock")
            let userNameInput = document.querySelector("#userNameInput")
            let signupBtn = document.querySelector("#signupBtn")

            let answerOptionBlock = document.querySelector("#answerOptionBlock")
            let ans0Btn = document.querySelector("#ans0Btn")
            let ans1Btn = document.querySelector("#ans1Btn")
            let ans2Btn = document.querySelector("#ans2Btn")
            let ans3Btn = document.querySelector("#ans3Btn")

            let ws = new WebSocket(`ws://${HOST}:${PORT}/ws`)
            ws.onmessage = (e) => {
                data = JSON.parse(e.data)
                reqData = {}
                
                // 恢復連線
                if (data.initConnect == true) {
                    reqData.userName = "player"
                    reqData.vtype = "PLAYER"
                    ws.send(JSON.stringify(reqData))
                }

                console.log(data)

                switch(data.status) {
                    case "SIGNUP":
                        signupBlock.style.display = "block"
                        answerOptionBlock.style.display = "none"
                        break;
                    case "SELECT":
                        signupBlock.style.display = "none"
                        break;
                    case "READY":
                        answerOptionBlock.style.display = "none"
                        break;
                    case "QUES":
                        answerOptionBlock.style.display = "block"
                        if (data.answers != null) {   
                            answers = data.answers
                            ans0Btn.innerText = answers[0]
                            ans1Btn.innerText = answers[1]
                            ans2Btn.innerText = answers[2]
                            ans3Btn.innerText = answers[3]
                        }
                        break;
                }
            }

            signupBtn.addEventListener("click", () => {
                reqData = {
                    "action": "PLAYER_SIGNUP",
                    "signupName": userNameInput.value
                }
                ws.send(JSON.stringify(reqData))
            })

            ans0Btn.addEventListener("click", () => {
                reqData = {
                    "action": "PLAYER_ANSWER",
                    "playerAns": 0
                }
                ws.send(JSON.stringify(reqData))
            })
            ans1Btn.addEventListener("click", () => {
                reqData = {
                    "action": "PLAYER_ANSWER",
                    "playerAns": 1
                }
                ws.send(JSON.stringify(reqData))
            })
            ans2Btn.addEventListener("click", () => {
                reqData = {
                    "action": "PLAYER_ANSWER",
                    "playerAns": 2
                }
                ws.send(JSON.stringify(reqData))
            })
            ans3Btn.addEventListener("click", () => {
                reqData = {
                    "action": "PLAYER_ANSWER",
                    "playerAns": 3
                }
                ws.send(JSON.stringify(reqData))
            })
        })
    </script>
</body>
</html>